@{
    ViewBag.Title = "bucles";
    var cantidaLineas = 10;
}

<h2>bucles</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < cantidaLineas; i++)
        {
            <tr>
                <td>@i</td>
                <td>Nombre No. @i</td>
            </tr>
        }
    </tbody>
</table>