@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Index</h2>

<div>
    <label> Fecha actual: @DateTime.Now.ToString(); </label> <br/>
    <label> Fecha larga actual: @DateTime.Now.ToLongDateString(); </label> <br />
    <label> Adición de números: @(250+250); </label>
</div>
